m-font-face( $font-family = "Arial", $file-path = "", $weight = normal, $style = normal, $asset-pipeline = false )
	@font-face 
		font-family  $font-family
		font-weight  $weight
		font-style   $style
		font-display swap

		if $asset-pipeline 
			src: font-url($file-path+'.eot')
			src: font-url($file-path+'.eot?#iefix') format('embedded-opentype'), font-url($file-path+'.woff') format('woff'), font-url($file-path+'.ttf') format('truetype')
		else
			src: url($file-path+'.eot')
			src: url($file-path+'.eot?#iefix') format('embedded-opentype'), url($file-path+'.woff') format('woff'), url($file-path+'.ttf') format('truetype')
	
m-font-face("AvenirNextBold", "../fonts/AvenirNextBold/AvenirNextBold")
m-font-face("AvenirNextMedium", "../fonts/AvenirNextMedium/AvenirNextMedium")
m-font-face("AvenirNextRegular", "../fonts/AvenirNextRegular/AvenirNextRegular")
m-font-face("OpenSansRegular", "../fonts/OpenSansRegular/OpenSansRegular")
m-font-face("OpenSansBold", "../fonts/OpenSansBold/OpenSansBold")
m-font-face("OpenSansSemiBold", "../fonts/OpenSansSemiBold/OpenSansSemiBold")
